[Unit]
Description=home automation service
After=network.target

[Service]
Type=simple
User=home-automation
Group=home-automation
Restart=on-failure
WorkingDirectory=/tmp
ExecStart=/snap/bin/node /usr/lib/home-automation/main.js

[Install]
WantedBy=multi-user.target